insmod all_video
insmod gfxterm
set gfxmode=1920x1080,auto
terminal_output gfxterm

set default=0
set timeout=10
set timeout_style=menu

# Colores cuánticos
set color_normal=light-cyan/black
set color_highlight=white/light-blue

menuentry "⚡ QuantumEnergyOS V.02 — Iniciar (Wayland/Sway)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash loglevel=3 systemd.show_status=auto rd.udev.log_level=3
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "⚡ QuantumEnergyOS V.02 — Modo seguro (sin splash)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "⚡ QuantumEnergyOS V.02 — RAM (copytoram)" --class arch --class gnu-linux --class gnu --class os {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Reiniciar" {
    reboot
}

menuentry "Apagar" {
    halt
}
